build/
dist/
_build/
_generate/
*.so
*.py[cod]
*.egg-info

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/
